*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* All credit for the image can be sourced to here: https://www.freepik.com/free-vector/future-metropolis-downtown-modern-city-business-center-cartoon-background_4758645.htm#page=2&query=game%20city&position=46&from_view=keyword&track=ais&uuid=45e66db0-d905-4640-a224-6fc923519f80 */
body {
    font-family: "Montserrat", Avenir, Helvetica, Arial, sans-serif;
    background: url(../Img/1466.jpg) no-repeat center center fixed, linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: azure;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.36);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.question {
    background-color: lightyellow;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.36);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dashboardContainer {
    display: flex;
    width: 80%;
    margin-bottom: 50px;
}

.investmentWindow {
    background-color: rgb(224, 180, 245);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.36);
    z-index: 999;
}

.stocksInventory {
    z-index: 999;
}

.investmentWindow ul, .stocksInventory ul {
    list-style-type: none;
    padding: 0;
}

.investmentWindow li {
    margin-bottom: 10px;
}

.investmentWindow input[type="checkbox"] {
    margin-right: 5px;
}

.stocksInventory {
    background-color: lightblue;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.36);
}

.investmentWindow,
.stocksInventory {
    flex: 1;
}

.investButtonContainer {
    display: flex;
    justify-content: space-evenly;
}

.formContainer, .wager-form {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.36);
}

.dashboardControls {
    display: grid;
    grid-template-columns: auto auto;
    background-color: mintcream;
    width: 80%;
    position: absolute;
    bottom: 0;
}

.Stonks,
.Work,
.Gamble {
    background-color: mintcream;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.36);
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
}

.Stonks,
.Work {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 90px;
}
  
.Stonks p {
    margin: 0;
    padding: 0;
    flex: 1;
}

.Gamble {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Gamble p {
    display: inline-block;
    margin: 20px;
}

.result, .diceNum {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    height: calc(100vh - 170px);
    max-height: 500px;
    width: 100%; /* Make the chart container responsive */
}

canvas {
    max-width: 100%; /* Make the canvas responsive */
    height: auto;
}