*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mainMenuBody {
    font-family: "Montserrat", Avenir, Helvetica, Arial, sans-serif;
    background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.mainMenuContainer {
    background-color: mintcream;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mainMenuContainer a {
    text-decoration: none;
}